.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {   

    .footer {
        flex-direction: column;        
    }

    .footer img {
        margin-top: 32px;
    }
    
}