.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoIniciar {
    width: 350px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 0px 1px #000000;
    border: 2px solid black;    
    border-radius: 45px;
    box-sizing: border-box;
    background-color: #FE652B;
    color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botaoIniciar:hover {
    opacity: 0.8;
}

.botaoIniciar:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.botaoIniciar span {
    font-size: 40px;
    margin-right: -40px;
}


@media screen and (max-width: 800px) {
    
    .botaoIniciar {
        width: 220px;
        margin: 32px 0;
    }

    .footer {
        flex-direction: column;        
    }

    .footer img {
        margin-top: 32px;
    }
    
}